<div class='col-md-8'>
  <h2>Un annuaire de bots ?</h2>

  <p>Nous avons créé Bots for Chatting avec deux objectifs :</p>
  <ul>
  <li>vous donner accès à un annuaire qui liste tous les bots français et étrangers et sur plusieurs plateformes. </li>

  <li> et tester et évaluer tous les bots pour que cet annuaire soit également votre source d'information la plus claire, la plus à jour et la plus fun !  </li>
  </ul>
  <div class='button-bar text-center'>
    <%= directory_link I18n.t('discover_all_bots'),
          klass: 'btn btn-primary'
      %>
  </div>
</div>
<div class='col-md-4'>
    <h3>Et d'abord, c'est quoi, un bot ?</h3>
Un bot ou chatbot est un programme informatique qui simule une conversation entre une personne et un robot. Il transforme la manière dont on interagit avec une application grâce à un scenario préétabli qui, s'il est bien fait, laisse à penser qu'il s'agit d'un véritable échange avec un humain.
</div>