<div class='col-md-8'>
  <h2>A bot directory?</h2>

  <p>We had two goals in mind when we created Bot en Stock:</p>
  <ul>
  <li>give you an access to a directory that lists bots, on several platforms. </li>

  <li>test and evaluate all bots to make this website the clearest, most up-to-date and funniest source of information!  </li>
  </ul>
  <div class='button-bar text-center'>
    <%= directory_link I18n.t('discover_all_bots'),
          klass: 'btn btn-primary'
      %>
  </div>
</div>
<div class='col-md-4'>
    <h3>What is a bot?</h3>
Bots or Chatbots are computer programs that mimic conversation with people, using sometimes artificial intelligence. They can transform the way you interact with the internet from a series of self-initiated tasks to a quasi-conversation.
</div>