
  <h2 style='margin-top: 60px'>What is a bot?</h2>
  <p>Bots or Chatbots are computer programs that mimic conversation with people, using sometimes artificial intelligence. They can transform the way you interact with the internet from a series of self-initiated tasks to a quasi-conversation.</p>
  <p>In other words, these bots are made for chatting...</p>


<h3 style='margin-top: 40px'>On which platforms ?</h3>