<h2 style='margin-top: 60px'>Et d'abord, c'est quoi, un bot ?</h2>
<p>Un bot ou chatbot est un programme informatique qui simule une conversation entre une personne et un robot. Il transforme la manière dont on interagit avec une application grâce à un scenario préétabli qui, s'il est bien fait, laisse à penser qu'il s'agit d'un véritable échange avec un humain.</p>

<h3 style='margin-top: 40px'>Sur quelles plateformes ?</h3>