<%= render 'directory/search_box' %>
<%= render 'layouts/messages' %>

<div class='container bg-white'>
  <div class='col-sm-12'>
    <%= image_tag "big-logo.png"%>
    <br>
    <%= render 'presentation'%>
  </div>
</div>