<div class="col-sm-12 search-box">
  <div class="container">
    <%= form_tag bots_path , method: :get, class: 'col-md-8 col-md-offset-2' do%>
      <div class='logos'>
        <% Provider.visible.all.each do |provider|%>
          <%=  image_tag provider.icon.url(:thumb)%>
        <%end%>
      </div>
      <div class='input-group'>
        <%= search_field_tag 'keywords', params[:keywords], class:'form-control', placeholder: I18n.t('search_placeholder') %>
        <span class='input-group-btn'>
          <%= button_tag I18n.t('search'), class: "btn btn-secondary"%>
        </span>
      </div>
    <%end%>
  </div>
</div>