<h1>Editer le Bot</h1>

<%= render 'form', bot: @bot %>

<div class='row col-sm-12'>
<br>
<%= link_to 'Afficher', @bot, class:'btn btn-default' %>
<%= link_to 'Retour', bots_path , class:'btn btn-default'%>
</div>