# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
<% self.class.include Rails.application.routes.url_helpers %>

$(document).ready =>

  $table = $('#bots')
  if $table.length > 0
    $table.bootstrapTable
      ajax: (params) =>
        for criteria in ['category','status', 'platform']
          value = $("##{criteria}").val()
          unless value == undefined || value == null || value == ''
            params.data[criteria] = value
        $.ajax(params).done((data) =>
          $table.bootstrapTable('removeAll') if data.total == 0
          $('#bot_number').html("#{data.total} ")
        )
      columns: [
        {
          field: 'id'
          width: '100px'
          sortable: true
        }
        {
          field: 'name'
          sortable: true
        }
        {
          field: 'created_at'
          sortable: true
          formatter: (value) ->
            if value
              new Date(value).asString('dd/mm/yy hh:mm:ss')
            else
              ""
        }
        {
          field: 'updated_at'
          sortable: true
          formatter: (value) ->
            if value
              new Date(value).asString('dd/mm/yy hh:mm:ss')
            else
              ""
        }
        {
          field: 'status'
          sortable: true
        }
        {
          field: 'categories'
          sortable: true
          formatter: (value) ->
            if value
              value.map (cat) -> "<span class='label label-default'>#{cat}</span>"
                .join(' ')
            else
              ""
        }
      ]
    $('#bots').on 'click', 'tbody tr', (e) =>
      console.log 'click', e
      id = $(e.currentTarget).data('uniqueid')
      window.open('<%= edit_bot_path(1)%>'.replace(1,id), 'edit_bot')
    $('#category,#platform,#status').on 'change', =>
      $table.bootstrapTable('refresh')
