// Place all the styles related to the bots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal {
  div.datetime {
    width: 100%;
    display: inline-block;
  }
  label.datetime {

    width: 25%;
    text-align: right;
    display: inline-block;
  }
  .datetime {
    div.form-inline {
      width: 75%;
      display: inline-block;
      padding-left: 20px;
    }
  }
}

.label-secondary {
  background-color: $brand-secondary;
}
.small-bot {
  img {
    width: 50px;
  }
  .tagline {
    font-size: 70%;
  }
  .label {
    font-size: 65%;
  }

}
.post_summary {
  margin-bottom: 10px;
}

.admin-container {
  .sidebar {
    padding: 0;
    padding-top: 5px;
    background-color: $brand-primary;
    a {

      display: block;
      color: white;
      width: 100%;
      padding: 5px 10px;
      margin: 0;
      .badge {
        padding-top: 5px;
        font-size: 60%;
        float: right;
      }
    }
    a:hover {
      color: black;
      text-decoration: none;
      background-color: $hover-color;
    }
  }
  .content {
    background-color: white;
  }
}

.search-box {
  background-color: $brand-primary;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: solid 5px $brand-secondary;
}
.no-padding {
  padding: 0;
}
.logos {
  @include inline-flex;
  img {
    height: 30px;
    margin-right: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  a:hover {
    img {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);

    }
    background-color: inherit;
  }

  padding: 10px;
}


.card {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  // min-height: 150px;
  background-color: #fff;
  margin-bottom: 4px;
  img {
    margin-right: 1em;
  }
  .body {
    flex: 1;
  }
}

.card:hover {
  background-color: $hover-color;
  color: black;
  text-decoration: none;
}

.bot_categories, .bot_languages {
  .col-sm-9 {
    .checkbox {
     width: 200px;
     float: left;
    }
  }
}

h4 {
  font-weight: bold;
}

.tagline {
  font-style: italic;
  font-size: 110%;
  color: #555;
  margin-bottom: 5px
}

.list-group {
  a:hover {
    color: black;
    li {
      background-color: #eee !important;
    }
  }
}
.logo {
  margin-bottom: 20px;
}
.button-bar {
  background-color: white;
  padding: 5px;
  margin-bottom: 10px;
}
.no-padding {
  padding: 0;
}
.no-margin {
  padding: 0;
}
.bot-presentation {
  background-color: white;
  padding-bottom: 40px;
}
.sidebar {
  .panel {
    border: none;
    a {
      border: none;
    }
    .panel-heading {
      font-weight: bold;
      // color: $brand-secondary;
    }
  }
  a {
    cursor: hand;
  }
  .list-group-item {
    font-size: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  a:hover {
    background-color: $hover-color;
  }

}

.bg-white {
  background-color: white;
}



.index-header {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

// .label-default{
//   background-color: $brand-primary;
// }

.btn-secondary {
  background-color: $brand-secondary;
}

.italic {
  font-style: italic;
}

