// import the CSS framework
$headings-font-family:    Impact, sans-serif;
$font-family-sans-serif: Tahoma, Geneva, sans-serif;
$headings-font-weight:    normal;
// $brand-primary: #009688; //TEAL
$brand-primary: #3B5998; // Facebook blue
$btn-primary-color: white;
$brand-secondary: #ffc107;

$navbar-default-color: #fff;
$hover-color: #b2dfdb;
$hover-color: #fff8e1;

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: $brand-primary;
$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: $brand-secondary;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "flex";
@import "modern-business";
@import "scaffolds";
@import "bots";



body {
  background-color: #eee;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }

h1 {
  color: $gray-darker;
}

h4 {
  font-family: $font-family-sans-serif;
}

.devise {
  background-color: white;
  padding-bottom: 20px;
}

