// import the CSS framework
$headings-font-family:    Impact, sans-serif;
$font-family-sans-serif: Tahoma, Geneva, sans-serif;
$headings-font-weight:    normal;
$brand-primary: #7092BE;
$btn-primary-color: white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$brand-secondary: #F6A623;
$brand-success: #BDDFFF;
$navbar-default-color: #fff;

$hover-color: #BDDFFF;

$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: $brand-primary;
$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: $brand-secondary;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "flex";
@import "modern-business";
@import "bots";

.alert-success {
  background-color: $brand-success;
  color: $brand-primary;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }

h1 {
  color: $gray-darker;
}

.btn-secondary {
  color: white;
}

h4 {
  font-family: $font-family-sans-serif;
}

.devise {
  background-color: white;
  padding-bottom: 20px;
}

.btn-primary:visited {
  color: white;
}


body > footer {
  border-top: 1px solid #e6e6e6;
  margin-top: 80px;
  margin-bottom: 0;
  a {
    color: black;
  }
  .container {
    padding: 20px 0;
  }
}

.homepage {
  padding: 0;
  .col-sm-12 {
    padding-right: 20px;
  }
}
.homepage sidebar{
  padding:0;

  .block {
    padding: 5px;
    padding-left: 20px;
    border-left: 5px solid $brand-secondary;
    margin-bottom: 20px;
  }

  h4 {
    margin-top: 0;
  }
}

.black{
  color: black;
}