// Place all the styles related to the bots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  padding: 10px;
  max-height: 150px;
  overflow-y: scroll;
  img {
    margin-right: 10px;
  }
}
.card:hover {
  background-color: #ddd;
  color: black;
}

.bot_categories, .bot_languages {
  .col-sm-9 {
    .checkbox {
     width: 200px;
     float: left;
    }
  }
}

h4 {
  font-weight: bold;
}

.tagline {
  font-style: italic;
  font-size: 110%;
  color: #555;
  margin-bottom: 5px
}

