<!-- Footer -->
<footer class="container">
  <footer>
      <div class="row">
          <div class="col-lg-12 text-center">
              <p>Made with <span class="glyphicon glyphicon-heart text-danger" aria-hidden="true"></span> in Paris by Ahotu/Kappsports</p>
          </div>
      </div>
  </footer>
</footer>
<!-- /.container -->
